{% extends 'panel/base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block header %}
    <header>
        <nav class="navbar navbar-light col-md-10 mx-auto navbar-expand-lg">
            <a class="navbar-brand" href="/">
                <img src="{{ asset('assets/img/logo.png') }}" alt="">
            </a>
            <div class="navbar-collapse collapse" id="navbarMenu">
                {% block usernav %}
                    {% include 'inc/usernav.html.twig' %}
                {% endblock %}
            </div>
        </nav>
    </header>
{% endblock %}

{% block body %}
    <div class="col-9 col-lg-8 mx-auto mt-5">
        <p>profile data</p>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col">username</th>
                <th scope="col">email</th>
                <th scope="col">roles</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user.getUsername }}</td>
                    <td>{{ user.getEmail }}</td>
                    <td>
                        {%- for rol in user.roles -%}
                            {{- rol|replace({'ROLE_': ''})|capitalize -}}
                            {{- not loop.last ? ',' -}}
                        {%- endfor -%}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
