{% extends 'panel/base2.html.twig' %}

{% block sidebar %}
    {% include 'panel/inc/sidebar.html.twig' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            <span>{{ message }}</span>
                        </div>
                    {% endfor %}
                    <div class="col-md-12 d-flex">
                        <h4 class="card-title"> All Urls </h4>
                        <a href="{{ path('admin_url_create') }}" class="btn btn-info ml-auto"><i class="fa fa-plus"></i> Create</a>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <th>Url</th>
                            <th>Shorten Url</th>
                            <th class="text-center">Click Count</th>
                            <th class="text-center">User</th>
                            <th class="text-center">Active</th>
                            <th class="text-center">Public</th>
                            <th class="text-right">Actions</th>
                            </thead>
                            <tbody>
                            {% for url in urls %}
                                <tr>
                                    <td>{{ url.getUrl }}</td>
                                    <td>{{ url.getUrlHash }}</td>
                                    <td class="text-center">{{ url.getClickCount }}</td>
                                    <td class="text-center">{{ url.getUserId != '-1' ? inSite.getUserName(url.getUserId) : '-' }}</td>
                                    <td class="text-center">
                                        {% if url.getIsActive %}
                                            <i class="fa fa-check" style="color: green"></i>
                                        {% else %}
                                            <i class="fa fa-times" style="color: red"></i>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if url.getIsPublic %}
                                            <i class="fa fa-check" style="color: green"></i>
                                        {% else %}
                                            <i class="fa fa-times" style="color: red"></i>
                                        {% endif %}
                                    </td>
                                    <td class="text-right">
                                        <a href="{{ path('url_edit', {id:url.getId}) }}" class="btn btn-success btn-icon btn-sm">
                                            <i class="now-ui-icons ui-2_settings-90"></i>
                                        </a>
                                        <a href="{{ path('url_delete', {id:url.getId}) }}" class="btn btn-danger btn-icon btn-sm">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


