{% set current_path = app.request.get('_route') %}
<div class="sidebar" data-color="yellow">
    <div class="logo">
        <a href="/panel" class="simple-text text-center logo-normal">
            <img src="{{ asset('assets/img/logo.png') }}" alt="haci">
        </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li{% if current_path=='profile_settings'%} class="active" {% endif %}>
                <a href="{{ path('profile_settings') }}">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li{% if current_path=='user_url_stats'%} class="active" {% endif %}>
                <a href="{{ path('user_url_stats') }}">
                    <i class="now-ui-icons business_chart-pie-36"></i>
                    <p>Your Urls Stats</p>
                </a>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a data-toggle="collapse" href="#adminMenu">
                    <i class="now-ui-icons objects_key-25"></i>
                    <p>Admin <b class="caret"></b></p>
                </a>

                <div class="collapse " id="adminMenu">
                    <ul class="nav">
                        <li{% if current_path=='url_panel'%} class="active" {% endif %}>
                            <a href="{{ path('url_panel') }}">
                                <span class="sidebar-mini-icon">U</span>
                                <span class="sidebar-normal"> Urls Panel </span>
                            </a>
                        </li>
                        <li{% if current_path=='panel_admin_user'%} class="active" {% endif %}>
                            <a href="{{ path('panel_admin_user') }}">
                                <span class="sidebar-mini-icon">U</span>
                                <span class="sidebar-normal"> Users Panel </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            {% endif %}

        </ul>
    </div>
</div>