{% extends 'panel/base.html.twig' %}

{% block title %}Hello SiteSettingController!{% endblock %}

{% block header %} {% include 'panel/inc/header.html.twig' %} {% endblock %}

{% block body %}
    <div class="col-9 col-lg-8 mx-auto mt-5">

        {% for message in app.flashes('success') %}
            <div id="shorten-alert" class="mt-2 alert alert-success text-center">
                <span class="font-weight-bold">{{ message }}</span>
            </div>
        {% endfor %}

        <h3>Banner</h3>

        {{ form_start(form) }}
            {{ form_row(form.slogan) }}
            {{ form_row(form.description) }}
            {{ form_row(form.image_path) }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update</button>
                <button class="btn"><a href="/panel">Return</a></button>
            </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
