{% extends 'panel/base2.html.twig' %}

{% block sidebar %}
    {% include 'panel/inc/sidebar.html.twig' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            <span>{{ message }}</span>
                        </div>
                    {% endfor %}
                    <div class="col-md-12 d-flex">
                        <h4 class="card-title"> All Features </h4>
                        <a href="{{ path('admin_feature_create') }}" class="btn btn-info ml-auto">
                            <i class="fa fa-plus"></i> Add New Feature
                        </a>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <th>Title</th>
                            <th>Description</th>
                            <th>Image path</th>
                            <th class="text-right">Actions</th>
                            </thead>
                            <tbody>
                            {% for feature in features %}
                                <tr>
                                    <td>{{ feature.getTitle }}</td>
                                    <td>{{ feature.getDescription[:50] ~ '...' }}</td>
                                    <td>{{ feature.getImagepath[:50] ~ '...' }}</td>
                                    <td class="text-right">
                                        <a href="{{ path('admin_feature_update', {id:feature.getId}) }}"
                                           class="btn btn-success btn-icon btn-sm">
                                            <i class="now-ui-icons ui-2_settings-90"></i>
                                        </a>
                                        <a href="{{ path('admin_feature_delete', {id:feature.getId}) }}"
                                           class="btn btn-danger btn-icon btn-sm">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
