{% extends 'panel/base.html.twig' %}

{% block title %}Hello SiteSettingController!{% endblock %}

{% block header %} {% include 'panel/inc/header.html.twig' %} {% endblock %}

{% block body %}
    <div class="col-9 col-lg-8 mx-auto text-center mt-5">

        <a href="/admin/feature/create" class="btn btn-danger mx-auto"><i class="fa fa-plus"></i> Add New Feature</a>
        {% for message in app.flashes('success') %}
            <div id="shorten-alert" class="mt-2 alert alert-success text-center">
                <span class="font-weight-bold">{{ message }}</span>
            </div>
        {% endfor %}
        <h3 class="text-left">Features</h3>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col">title</th>
                <th scope="col">description</th>
                <th scope="col">image path</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for feature in features %}
                <tr>
                    <td>{{ feature.getTitle }}</td>
                    <td>{{ feature.getDescription[:50] ~ '...' }}</td>
                    <td>{{ feature.getImagepath[:50] ~ '...' }}</td>
                    <td>
                        <a href="/admin/feature/update/{{ feature.getId }}" class="mr-3"><i class="fa fa-pencil-alt"></i></a>
                        <a href="/admin/feature/delete/{{ feature.getId }}"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
